.popup__button {
  width: 100%;
  height: 50px;
  align-self: center;
  color: white;
  margin-top: 12px;
  border: none;
  border-radius: 2px;
  padding-top: 14px;
  padding-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  outline: 0;
  background-color: #000000;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .popup__button {
    margin-top: 9px;
    height: 46px;
  }
}

.popup__button:focus {
  opacity: 0.8;
}

@media (hover: hover) {
  .popup__button:hover {
    opacity: 0.8;
  }
}

@media (hover: none) {
  .popup__button:active {
    opacity: 0.8;
  }
}
