.btn-link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

@media (hover: hover) {
  .btn-link:hover {
    opacity: 0.6;
  }
}

@media (hover: none) {
  .btn-link:active {
    opacity: 0.6;
  }
}
