.popup__input {
  padding: 0 0 13px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
